In [12]:
import os
import psycopg2
from dotenv import load_dotenv

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_HOST = os.getenv("POSTGRES_HOST")
POSTGRES_DATABASE = os.getenv("POSTGRES_DATABASE")

In [13]:
# Conectarse a la base de datos PostgreSQL
connection = psycopg2.connect(
    user=POSTGRES_USER,
    password=POSTGRES_PASSWORD,
    host=POSTGRES_HOST,
    database=POSTGRES_DATABASE
)

In [14]:
# Crear un cursor
cursor = connection.cursor()

In [8]:
# Ejecutar una consulta
cursor.execute("SELECT version();")

In [9]:
# Obtener el resultado
record = cursor.fetchone()
print("You are connected to - ", record, "\n")

You are connected to -  ('PostgreSQL 16.3 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [15]:
# Ejecutar una consulta para obtener el nombre de la base de datos
cursor.execute("SELECT current_database();")
database_name = cursor.fetchone()[0]
print(f"Database: {database_name}")

Database: verceldb

In [16]:
# Ejecutar una consulta para obtener todas las tablas
cursor.execute("""
    SELECT table_name 
    FROM information_schema.tables
    WHERE table_schema = 'public';
""")
tables = cursor.fetchall()
print("Tables:")
for table in tables:
    print(table[0])

Tables:
users
customers
invoices
revenue

In [19]:
import pandas as pd

cursor.execute("""
    SELECT * FROM invoices LIMIT 10;
""")

# Obtener los resultados en un dataframe de pandas
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Mostrar el dataframe
df

,id,customer_id,amount,status,date
0,75047722-cc87-42b8-97ae-988f6215f327,3958dc9e-712f-4377-85e9-fec4b6a6442a,15795,pending,2022-12-06
1,bce63633-f1f9-42f4-8f04-a9f9f65f2c6d,3958dc9e-742f-4377-85e9-fec4b6a6442a,20348,pending,2022-11-14
2,bdec9548-e574-4a8a-86ac-6e3dab3ed143,3958dc9e-787f-4377-85e9-fec4b6a6442a,3040,paid,2022-10-29
3,dcf35614-be0e-4a48-a8e9-f6aa069c0cea,50ca3e18-62cd-11ee-8c99-0242ac120002,44800,paid,2023-09-10
4,4cd64b5f-daa1-4c28-bb38-717d24e7c1dc,76d65c26-f784-44a2-ac19-586678f7c2f2,34577,pending,2023-08-05
5,765f5e2a-ba8f-469f-bd61-2934dc5973da,126eed9c-c90c-4ef6-a4a8-fcf7408d3c66,54246,pending,2023-07-16
6,9d9a1d36-3afc-4201-a631-11ddc548ed1d,d6e15727-9fe1-4961-8c5b-ea44a9bd81aa,666,pending,2023-06-27
7,b9cdd512-c37a-4e27-9c49-125947cebc58,50ca3e18-62cd-11ee-8c99-0242ac120002,32545,paid,2023-06-09
8,3bef0873-e8fa-4a07-93c6-057718cc0196,3958dc9e-787f-4377-85e9-fec4b6a6442a,1250,paid,2023-06-17
9,1b5f8baf-36f4-49b1-b3f8-5ede327d7479,76d65c26-f784-44a2-ac19-586678f7c2f2,8546,paid,2023-06-07

In [20]:
# Cerrar la conexi√≥n
cursor.close()
connection.close()
print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://jrodriguezm216:<password>@mongonosql.uwro6i8.mongodb.net/?retryWrites=true&w=majority&appName=MongoNoSQL"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

bad auth : authentication failed, full error: {'ok': 0, 'errmsg': 'bad auth : authentication failed', 'code': 8000, 'codeName': 'AtlasError'}