In [2]:
import os
import psycopg2
from dotenv import load_dotenv

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_HOST = os.getenv("POSTGRES_HOST")
POSTGRES_DATABASE = os.getenv("POSTGRES_DATABASE")

In [3]:
# Conectarse a la base de datos PostgreSQL
connection = psycopg2.connect(
    user=POSTGRES_USER,
    password=POSTGRES_PASSWORD,
    host=POSTGRES_HOST,
    database=POSTGRES_DATABASE
)

In [4]:
# Crear un cursor
cursor = connection.cursor()

In [5]:
# Ejecutar una consulta
cursor.execute("SELECT version();")

In [6]:
# Obtener el resultado
record = cursor.fetchone()
print("You are connected to - ", record, "\n")

You are connected to -  ('PostgreSQL 16.3 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [8]:
# Ejecutar una consulta para obtener el nombre de la base de datos
cursor.execute("SELECT current_database();")
database_name = cursor.fetchone()
print(f"Database: {database_name}")

Database: ('verceldb',)

In [9]:
# Ejecutar una consulta para obtener todas las tablas
cursor.execute("""
    SELECT table_name 
    FROM information_schema.tables
    WHERE table_schema = 'public';
""")
tables = cursor.fetchall()
print("Tables:")
for table in tables:
    print(table[0])

Tables:
users
customers
invoices
revenue

In [13]:
import pandas as pd

cursor.execute("""
    SELECT status, count(*) as n, avg(amount) as avg_amount 
    FROM invoices 
    GROUP BY status
    LIMIT 10;
""")

# Obtener los resultados en un dataframe de pandas
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Mostrar el dataframe
df

    status   n          avg_amount
0  pending   6  91172.000000000000
1     paid  11  18646.909090909091

In [20]:
# Cerrar la conexión
cursor.close()
connection.close()
print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://jrodriguezm216:<password>@mongonosql.uwro6i8.mongodb.net/?retryWrites=true&w=majority&appName=MongoNoSQL"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

bad auth : authentication failed, full error: {'ok': 0, 'errmsg': 'bad auth : authentication failed', 'code': 8000, 'codeName': 'AtlasError'}

# Conectarse a una API desde Python

In [15]:
import requests
import json

In [22]:
# URL de la API
url = "http://api.openweathermap.org/data/2.5/weather"
# Parámetros de la solicitud
params = {
    'q': 'Roma',
    'appid': '71556bd8b3d98a9b7b3a851379680936'  # Reemplaza 'your_api_key' con tu clave de API
}

# Hacer la solicitud GET
response = requests.get(url, params=params)

In [20]:
if response.status_code == 200:
    data = response.json()
    print(json.dumps(data, indent=4))  # Imprimir la respuesta formateada
else:
    print(f"Error en la solicitud: {response.status_code}")

Error en la solicitud: 401

In [23]:
if response.status_code == 200:
    data = response.json()
    city = data['name']
    weather = data['weather'][0]['description']
    temperature = data['main']['temp']
    print(f"Ciudad: {city}")
    print(f"Clima: {weather}")
    print(f"Temperatura: {temperature}K")
else:
    print(f"Error en la solicitud: {response.status_code}")

Ciudad: Rome
Clima: broken clouds
Temperatura: 298.79K

In [24]:
data

{'coord': {'lon': -75.4557, 'lat': 43.2128},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 298.79,
  'feels_like': 299.26,
  'temp_min': 298.12,
  'temp_max': 299.23,
  'pressure': 1012,
  'humidity': 71,
  'sea_level': 1012,
  'grnd_level': 989},
 'visibility': 10000,
 'wind': {'speed': 6.69, 'deg': 310},
 'clouds': {'all': 75},
 'dt': 1719768198,
 'sys': {'type': 1,
  'id': 5681,
  'country': 'US',
  'sunrise': 1719739522,
  'sunset': 1719794732},
 'timezone': -14400,
 'id': 5134295,
 'name': 'Rome',
 'cod': 200}